@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');

.App {
  text-align: center;  
}

nav {  
  font-family: 'Bevan';
  background-color: #2A0E0D;
}